__pycache__

.ipynb_checkpoints
.mypy_cache
.*.swp
*.egg-info

build
*.c
*.so

pretrained/
*.egg-info/
exp
exp*/
.vscode
.github/
infer/
icefall/
egs/*/download
egs/*/exp
egs/*/cases_and_punc
egs/*/upper_no_punc
egs/*/infer
egs/*/wandb
egs/*/prompts
evaluate-zero-shot-tts/.hypothesis/
evaluate-zero-shot-tts/evalsets/
evaluate-zero-shot-tts/samples/
evaluate-zero-shot-tts/results/
evaluate-zero-shot-tts/results_new/
evaluate-zero-shot-tts/samples_new/
evaluate-zero-shot-tts/demo/

*.jsonl.gz
log*
*.log
.DS_Store
*.zip
*.whl
*.dict
*.wav
*.*pt*
*.bin
*.mp3
*.log
*.ckpt
**.done
.env
.ignore